<% content_for :cover do %>

<%# layouts/application.html<%= yield :cover %>内 %>

  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>素敵なモノと出会う場所</h1>
        <a href="" class="btn btn-success btn-lg">モノリストを始める</a>
      </div>
    </div>
  </div>
<% end %>

<%# layouts/application.html<%= yield>内 %>

<p>テスト</p>